/* ====SHOP SECTION STARTS HERE==== */
.shop-main-container {
  background-color: rgb(248, 246, 243);
  padding-top: 50px;
  padding-bottom: 50px;
}
.shop-main-container div h1 {
  font-size: 50px;
  font-family: var(--merriweather-font);
  color: var(--dark-green);
  margin-bottom: 30px;
  text-align: center;
}
.shop-sub-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.shop-sub-container div {
  justify-items: center;
  text-align: center;
  margin-bottom: 30px;
  width: 30%;
}
.shop-details img {
  width: 70%;
}
.shop-details p {
  font-size: 16px;
  font-family: var(--open-sans);
  color: rgba(51, 51, 51, 0.685);
  margin-bottom: 10px;
}
.shop-details h3 {
  font-size: 18px;
  font-family: var(--merriweather-font);
  margin-bottom: 5px;
  cursor: pointer;
}
.shop-details i {
  font-size: 15px;
  color: var(--star-color);
  margin-bottom: 5px;
}
#empty-star {
  color: rgba(33, 43, 54, 0.349);
}
.shop-details h4 {
  font-size: 17px;
  font-family: var(--open-sans);
}
.shop-details h4 del {
  color: rgba(33, 43, 54, 0.479);
}
/* ====SHOP SECTION ENDS HERE==== */


/* ====MEDIA QUERY STARTS HERE==== */
@media (max-width: 1324px) {
  .products-header-logo img {
    width: 60%;
  }
}

@media (max-width: 834px) {
  .products-header-navlinks li {
    display: none;
  }
  .products-header-cart {
    display: none;
  }
  .products-header-nav-icon {
    display: block;
  }
  .shop-sub-container {
    flex-direction: column;
  }
  .shop-details img {
    width: 100%;
  }
  .products-footer-main {
    height: 100%;
  }
  .products-footer-container {
    flex-direction: column;
  }
  .products-footer-container div {
    width: 50%;
    text-align: center;
  }
  .products-footer-icons {
    flex-direction: column;
  }
}

@media (max-width: 480px) {
  .products-header-container {
    height: 70px;
  }
  .products-header-logo img {
    width: 70%;
  }
  .shop {
    width: 40%;
    margin: auto;
  }
  .shop-main-container div h1 {
    font-size: 30px;
  }
  .shop-sub-container div {
    width: 80%;
  }
  .products-footer-container {
    margin-bottom: 20px;
  }
  .products-footer-first img{
    width: 60%;
  }
  .products-footer-first h4 {
    font-size: 15px;
  }
  .products-footer-nav h1 {
    font-size: 22px;
  }
  .products-footer-nav ul li {
    font-size: 16px;
  }
  .products-footer-quick-links h1 {
    font-size: 22px;
  }
  .products-footer-quick-links ul li {
    font-size: 16px;
  }
  .products-footer-site-links h1 {
    font-size: 22px;
  }
  .products-footer-site-links ul li {
    font-size: 16px;
  }
  .products-footer-icons div p {
    font-size: 15px;
  }
}
