/* ====HERO SECTION STARTS HERE==== */
.contact-hero {
  background-color: rgb(248, 246, 243);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30rem;
}
.contact-hero h1 {
  font-size: 60px;
  font-family: var(--merriweather-font);
}
/* ====HERO SECTION ENDS HERE==== */
.details-main-container {
  height: 20rem;
}
.details-heading img {
  width: 11%;
  margin: auto;
}
.details-sub-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.details-sub-container div {
  background-color: var(--white-color);
  width: 30%;
  height: 200px;
  text-align: center;
  align-content: center;
  border-radius: 7px;
  border: 1px solid rgba(0, 0, 0, 0.233);
}
.details-sub i {
  color: var(--green-color);
  font-size: 25px;
  margin-bottom: 10px;
}
.details-sub p {
  font-size: 19px;
  font-family: var(--open-sans);
  color: rgba(51, 51, 51, 0.925);
}
/* ====CONTACT DETAILS SECTION ENDS HERE==== */

/* ====MEDIA QUERY STARTS HERE==== */

@media (max-width: 834px) {
  .contact-header-navlinks li {
    display: none;
  }
  .contact-header-cart {
    display: none;
  }
  .contact-header-nav-icon {
    display: block;
  }
  .contact-header-logo img {
    width: 50%;
  }
  .contact-hero h1 {
    font-size: 40px;
  }
  .details-main-container {
    height: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .details-sub-container {
    flex-direction: column;
  }
  .details-sub-container div {
    width: 70%;
  }
  .contact-footer-container {
    flex-direction: column;
    height: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .contact-footer-container div {
    width: 40%;
    text-align: center;
    margin-bottom: 20px;
  }
  .contact-footer-icons {
    flex-direction: column;
  }
  .contact-footer-first img {
    width: 70%;
  }
}

@media (max-width: 480px) {
  .contact--header-container {
    height: 10vh;
  }
  .contact-header-logo img {
    width: 100%;
  }
  .contact-hero h1 {
    font-size: 35px;
  }
  .details-sub-container div {
    width: 90%;
  }
  .details-heading {
    width: 20%;
    margin: auto;
  }
  .details-heading img {
    width: 100%;
  }
  .contact-footer-first h4 {
    font-size: 15px;
  }
  .contact-footer-nav h1 {
    font-size: 22px;
  }
  .contact-footer-nav ul li {
    font-size: 16px;
  }
  .contact-footer-quick-links h1 {
    font-size: 22px;
  }
  .contact-footer-quick-links ul li {
    font-size: 16px;
  }
  .contact-footer-site-links h1 {
    font-size: 22px;
  }
  .contact-footer-site-links ul li {
    font-size: 16px;
  }
  .contact-footer-icons div p {
    font-size: 15px;
  }
}
